= simple_form_for @solicited, html: { class: 'form-devise' } do |f|
  = f.error_notification

  .form-inputs
    = f.text_field :amount, class: 'form-control sole', label: 'Cantidad'
    /= f.input :solicitud_id, class: 'form-control sole'
    /= f.input :implemento_id, class: 'form-control sole'

  .form-actions
    = f.submit 'Cambiar', class: 'btn btn-lg btn-primary btn-block'
