.container
  .well
    .row
      %h1.col-md-6
        = 'Nuevo Usuario'
      .col-md-6
        = link_to 'Regresar', users_path, class: 'btn btn-default pull-right title-btn'

  %h2 Register User

  = render 'form_new'