.container
  .jumbotron
    %h1
      = 'Blast CMS'
      %p
        = "Blast is a very simple content management system that's growing to include very cool features. Check back to see whats new or contribute at github"
      = button_to 'Blog Style', href='articles', class: 'btn btn-lg btn-primary'