= simple_form_for @pueblo, html: { class: 'form-devise' }  do |f|
  = f.error_notification

  .form-inputs
    = f.text_field :name, class: 'form-control sole', label: false, placeholder: 'Nombre'

  .form-actions
    = f.button :submit, :class => 'btn btn-lg btn-primary btn-block'
