.row{style: 'margin-top: 20%;'}
  .col-sm-3.col-md-3.col-md-offset-1.dash-cont
    %i.fa.fa-futbol-o.dash-icon.fa-4x
    %h3
      = link_to 'Implementos', implementos_path

  .col-sm-3.col-md-3.dash-cont
    %i.fa.fa-suitcase.dash-icon.fa-4x
    %h3
      = link_to 'Solicitudes', solicituds_path
  .col-sm-3.col-md-3.dash-cont
    %i.fa.fa-child.dash-icon.fa-4x
    %h3
      = link_to 'Beneficiarios', beneficiarios_path