/*
 *
 *  Custom styles for global use
 *
 */

hr.faded {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(75,75,75,0.75), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(75,75,75,0.75), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(75,75,75,0.75), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(75,75,75,0.75), rgba(0,0,0,0));
}

/*
 *
 *  Context
 *
 */

* {
  margin: 0;
}
html, body {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px;
}
.page-wrap:after {
  content: "";
  display: block;
}
footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: 142px;
}

/*
 *
 *  Forms
 *
 */

.form-devise {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-devise .form-devise-heading,
.form-devise .checkbox {
  margin-bottom: 10px;
}
.form-devise .checkbox {
  font-weight: normal;
}
.form-devise .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-devise .form-control:focus {
  z-index: 2;
}
.form-devise input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#pwd, #newpwd, #confpwd {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#confirmpwd, #currentpwd, #pwdend {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#recemail {
  margin-bottom: 10px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.requirements {
  color: #666666;
  text-align: center;
}
.rember {
  margin-left: 1.8em;
}
.artic {
  list-style-type: none;
}

/*
 *
 *  Sidebar
 *
 */

#sidebar {
  height: 100%;
}

/*
 *
 *  Footer
 *
 */

footer {
  text-align: center;
  padding: 2em;
  background-color: #f8f8f8;
  border-top: 1px solid #eeeeee;
}