/*
 *
 *  Custom styles for global use
 *
 */

hr.faded {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(75,75,75,0.75), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(75,75,75,0.75), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(75,75,75,0.75), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(75,75,75,0.75), rgba(0,0,0,0));
}

/*
 *
 *  Context
 *
 */
$quick: 'Quicksand', sans-serif;
* {
  margin: 0;
}
html, body {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -100px;
}
.page-wrap:after {
  content: "";
  display: block;
}
footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: 100px;
}
h1, h2, h3, h4, h5, h6, p, a, th, label, span, li, select {
  font-family: $quick !important;
}

/*
 *
 *  Forms
 *
 */

.form-devise {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-devise .form-devise-heading,
.form-devise .checkbox {
  margin-bottom: 10px;
}
.form-devise .checkbox {
  font-weight: normal;
}
.form-devise .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-devise .form-control:focus {
  z-index: 2;
}
.form-devise .top {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-devise .mid {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-devise .last {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.sole {
  margin-bottom: 2em;
}
#recemail {
  margin-bottom: 10px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
#user_avatar {
  color: white;
  margin-bottom: 1em;
  margin-top: 1em;
}
.custom-file-input::before {
  content: 'Select some files';
  display: inline-block;
  /*background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);*/
  background-color: #428bca;
  border-color: #357ebd;
  border-radius: 3px;
  padding: 8px 9px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  /*text-shadow: 1px 1px #fff;*/
  /*font-weight: 700;*/
  font-size: 10pt;
  color: #ffffff;
}
.custom-file-input:hover::before {
  border-color: black;
  background-color: #29567D;
}
.custom-file-input:active::before {
  /*background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  background-color: #1B3A54;*/
}
.requirements {
  color: #666666;
  text-align: center;
}
.rember {
  margin-left: 1.8em;
}
.artic {
  list-style-type: none;
}
#form-article {
  max-width: 900px;
  #articlearea {
    resize: none;
    height: 20em;
  }
}
.avatar {
  border-radius: 5px;
  display: block;
  margin: 2em auto auto;
}
#crop_btn {
  margin-top: 1em;
  margin-bottom: 1em;
}
.cancel-acct {
  margin-top: 1em;
  margin-bottom: 1em;
}
#preview {
   /* Don't touch: Image position changes!*/
}
.prev {
  margin-top: 1em;
  margin-right: 3em;
  border-radius: 5px;
}
.filef {
  height: 170px;
  margin-left: 3.5em;
  & {
    margin: auto;
  }
}
.cropper {
  position: relative;
}

#modalsub {
  margin-top: 1em;
}

li.list-group-item {
  font-size: 0.8em;
}

#solicitud_no_gestion {
  float:left;
}

.confirmar_btn {
  margin-top: 0.5em;
}
/*
 *
 *  Sidebar
 *
 */

#sidebar {
  height: 100%;
}

/*
 *
 *  Footer
 *
 */

footer {
  text-align: center;
  padding: 1em;
  background-color: #262626;//#f8f8f8;
  //border-top: 1px solid #eeeeee;
  color: #666666;//#ffffff;
  border-top: 4px solid #666666;
}

/*
 *
 *  Custom Navbar
 *
 */
#logo {
  height: 70px;
  margin: 0;
}

$bgDefault      : #004c97;
$bgHighlight    : #0092cd;
$colDefault     : #ffffff;
$colHighlight   : #efefef;
.navbar-custom {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  border-radius: 0 !important;
  height: 71px;
  border-bottom: 10px solid $bgHighlight !important;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        padding-top: 1.5em !important;
        padding-bottom: 1.5em !important;
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight;
          background-color: $bgHighlight;}}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      background-color: #666666;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus, {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}

/*
 *
 * Indexes
 *
 */

.title-btn {
  margin-top: 1.8em;
}
.paginate-bot {
  margin-top: -20px;
}
.paginate-top {}
/*
.current {
  color: #666666;
}*/
.pretext {
  margin-right: 1em;
}
.breadcrumb {
  opacity: 0.8;
}

/*
 *
 * To Extend
 *
 */

.bs_field_active {
  -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset, rgba(103, 176, 233, 0.368627) 0px 0px 5px 0px;
  -webkit-transition-delay: 0s, 0s;
  -webkit-transition-duration: 0.15s, 0.15s;
  -webkit-transition-property: border-color, box-shadow;
  -webkit-transition-timing-function: ease-in-out, ease-in-out;
  background-color: rgb(255, 255, 255);
  background-image: none;
  border-bottom-color: rgb(141, 186, 222);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(141, 186, 222);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(141, 186, 222);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(141, 186, 222);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top-style: solid;
  border-top-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset, rgba(103, 176, 233, 0.368627) 0px 0px 5px 0px;
  box-sizing: border-box;
  color: rgb(85, 85, 85);
  display: block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 44px;
  line-height: 22px;
  margin-bottom: -1px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  outline-color: rgb(85, 85, 85);
  outline-style: none;
  outline-width: 0px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
  transition-delay: 0s, 0s;
  transition-duration: 0.15s, 0.15s;
  transition-property: border-color, box-shadow;
  transition-timing-function: ease-in-out, ease-in-out;
  width: 300px;
  z-index: 2;
}

.bs_field_in {
  -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
  -webkit-transition-delay: 0s, 0s;
  -webkit-transition-duration: 0.15s, 0.15s;
  -webkit-transition-property: border-color, box-shadow;
  -webkit-transition-timing-function: ease-in-out, ease-in-out;
  background-color: rgb(255, 255, 255);
  background-image: none;
  border-bottom-color: rgb(204, 204, 204);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(204, 204, 204);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(204, 204, 204);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(204, 204, 204);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top-style: solid;
  border-top-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
  box-sizing: border-box;
  color: rgb(85, 85, 85);
  display: block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 44px;
  line-height: 22px;
  margin-bottom: -1px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
  transition-delay: 0s, 0s;
  transition-duration: 0.15s, 0.15s;
  transition-property: border-color, box-shadow;
  transition-timing-function: ease-in-out, ease-in-out;
  width: 300px;
}

/*
 *
 * Dynamic Fields
 *
 */
#solicitante_first_name, #solicitante_second_name, #solicitante_first_last_name,
#solicitante_second_last_name, #solicitante_email, #solicitante_cui, #solicitante_tel,
#solicitud_comunidades, #solicitud_disciplina, .string.email.required {
  @extend .bs_field_in;
  &:focus {
    @extend .bs_field_active;
  }
}

#solicitante_first_name {
  margin-bottom: -1px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}


#solicitante_email {
  margin-bottom: 10px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

#solicitud_comunidades {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.remove_fields.dynamic.pull-right {
  margin-top: -1.6em;
}
.numeric.integer.optional {
  margin-top: 1.5em;
}

.control-group.string.optional, .control-group.string.required {
  input {
    @extend .bs_field_in;
    &:focus {
      @extend .bs_field_active;
    }
  }
}

#beneficiarios {
  .remove_fields.dynamic {
    margin-top: 0.6em;
    margin-right: 1em;
  }
}

/*
 *
 * Table
 *
 */
#ctr_row {
  td, th{
    text-align: center;
  }
}

.red {
  background-color: red;
  color: blue;
}

[name='user[role]'] {
  margin-bottom: 2em;
}

/*
 *
 * For Retina
 *
 */
@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .avatar {
    margin-top: 2em;
    margin-bottom: 2em;
    height: 100px;
    width: 100px;
  }
}