// Place all the styles related to the reportes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.grph-mod {
  margin-left: 3% !important;
}

#canvas {
  width: 100% !important;
  height: auto !important;
}

#canvas2 {
  width: 100% !important;
  height: auto !important;
}

#canvas_pie_show {
  width: 100% !important;
  height: auto !important;
}

#legend {
  margin-top: 30%;
  height: 320px;
  overflow: scroll;
}

.graph_titulo {
  margin-bottom: 3em;
}

.rep_departamentos{
  margin: 5em;
}

.implemento-rw {
  margin: 5em;
}

.fecha-rw {
  margin: 5em;
}