// Place all the styles related to the user_dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$bgHighlight: #0092cd;

.dash_sidebar{
  background-color: #DDD;
  border-right: 1px solid #C4C4C4;
  height: 100%;
  min-height: 1300px !important;
  width: 20%;
  margin-top: -20px;
  padding: 1.5em !important;
  .name {
    text-align: center;
    color: #595959;
  }
  .email {
    text-align: center;
    color: #666666;
  }
}

.first_row_dash {
  margin-bottom: 20em;
}

.dash-icon {
  color: $bgHighlight;
  text-shadow: 2px 1px 0px #fff, 4px 3px 0px rgba(0,0,0,0.15);
}
.dash-cont {
  text-align: center;
}
#dash_row{
  margin: 0;
}

@media (max-width: 1000px) {
  .dash_sidebar {
    display:none;
  }
  .dash-cont {
    margin-top: 3em;
    margin-bottom: 2em;
  }
}