// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
$bgHighlight: #0092cd;

.first-section {
  height: 100%;
  width: 100%;
  margin-top: -20px;
  color: $bgHighlight;
  text-align: center;
  padding-bottom: 4em;
  h1 {
    font-size: 7em;
    margin-top: 5%;
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
  }
  p {
    font-size: 2em;
    text-shadow: 1px 2px 1px rgba(0,0,0,0.3);
  }
  .btn {
    margin-top: 1.5em;
  }
}

.second-section {
  background-color: $bgHighlight;
  height: 100%;
  width: 100%;
  margin-top: -20px;
  border-top: 1px solid #357ebd;
  border-bottom: 1px solid #357ebd;
  color: #ffffff;
  font-weight: 300;
  padding-bottom: 4em;
  h1 {
    margin-top: 5%;
    font-weight: 300;
    text-shadow: 1px 2px 1px rgba(0,0,0,0.3);
  }
  p {
    font-size: 1.5em;
    text-shadow: 1px 2px 1px rgba(0,0,0,0.3);
  }
}

.third-section {
  height: 100%;
  width: 100%;
  margin-top: -20px;
  color: $bgHighlight;
  padding-bottom: 4em;
  h1 {
    margin-top: 5%;
    font-weight: 300;
    text-shadow: 1px 2px 1px rgba(0,0,0,0.3);
  }
  p {
    font-size: 1.5em;
    text-shadow: 1px 2px 1px rgba(0,0,0,0.3);
  }
}

.fourth-section {
  background-color: $bgHighlight;
  height: 100%;
  width: 100%;
  margin-top: -20px;
  border-top: 1px solid #357ebd;
  border-bottom: 1px solid #357ebd;
  padding-bottom: 3em;
  color: #ffffff;
  h1 {
    margin-top: 5%;
    font-weight: 300;
    text-shadow: 1px 2px 1px rgba(0,0,0,0.3);
  }
  p {
    font-size: 1.5em;
    text-shadow: 1px 2px 1px rgba(0,0,0,0.3);
  }
}

.fith-section {
  height: 100%;
  width: 100%;
  margin-top: -20px;
  color: $bgHighlight;
  padding-top: 2em;
  h1 {
    margin-top: 5%;
    font-weight: 300;
    text-shadow: 1px 2px 1px rgba(0,0,0,0.3);
  }
  p {
    font-size: 1.5em;
    text-shadow: 1px 2px 1px rgba(0,0,0,0.3);
  }
}

.image_gallery {
  margin-left: 1em;
  margin-bottom: 1em;
}
.imags {
  margin-left: 8% !important;
}

.second-section, .third-section, .fourth-section, .fith-section {
  p {
    font-weight: 300;
  }
}

#child-icon {
  margin-top: 40px;
  font-size: 200px;
  margin-left: 60px;
}
.section-text {
  text-align: justify;
}
#brief-icon {
  margin-top: 70px;
  font-size: 150px;
}
.txt-file {
  text-align: center;
  a {
    color: white;
    font-size: 14px;
    i {
      line-height: 1.2;
      display: block;
      font-size: 110px;
    }
  }
  a:hover {
    text-decoration: none;
  }
}
.down-icons {
  margin-top: 2em;
  margin-bottom: 2em;
}


@media (max-width: 992px) {
  #child-icon {
    display: none;
  }
  #brief-icon {
    display: none;
  }
  .title-imp {
    h1 {
      font-size: 5em;
    }
    p {
      font-size: 2em;
    }
  }
}

@media (max-width: 766px) {
  .txt-file {
    margin-top: 0.5em;
  }
  .navbar-collapse {
    background-color: #004c97;
    border-bottom: 10px solid $bgHighlight !important;
  }
}

@media (max-width: 590px) {
  .title-imp {
    h1 {
      font-size: 3em;
    }
    p {
      font-size: 1em;
    }
  }
  .imags {
    margin-left: 2% !important;
  }
}

