<!DOCTYPE html>
<html>
    <head>
      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>Nueva solicitud para procesar</h1>
        <p>
          Encontrará el archivo de la nueva solicitud en esta direccion: <%= @vinculo %>.<br>
        </p>
        <p>¡Feliz día!</p>
    </body>
</html>